@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #8b5cf6;
  --color-primary-content: #ffffff;
  --color-secondary: #a78bfa;
  --color-accent: #c4b5fd;
  --color-neutral: #1f2937;
  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
}
